* {
    margin: 0;
    padding: 0;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background: #FCEEF1;
    align-items: center;

}

.title {
    font-size: 50px;
    font-weight: 700px;
}

.banner-lorem {
    margin-top: 20px;
    color: rgb(77, 69, 69);
}

.banner-btn {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 5px;
}

.banner-img {
    width: 500px;
    height: 600px;
    margin-top: 25px;

}



.img-container{
    padding: 40px;
}



/* 
.mains{
    height: 100vh;
} */

.Featured {
    text-align: center;
    margin-top: 50px;
}


.Featured-lorem {
    color: rgb(77, 69, 69);
    margin: 10px;
}

/* main section */
.box-container {
    display: flex;
    margin: 10px 240px 10px 240px;
    
}

    .box1 {
        width: 300px;
        height: 300px;
        background-color: #F2DEE7;
        margin: 10px;
        border-radius: 300px 300px 0px 0px;
    }

    .box2 {
        width: 300px;
        height: 300px;
        background-color: #D9EFF1;
        margin: 10px;
        border-radius: 300px 300px 0px 0px;
    }

    .box3 {
        width: 300px;
        height: 300px;
        background-color: #E3EBDB;
        margin: 10px;
        border-radius: 300px 300px 0px 0px;
    }

    .img {
        width: 60%;
        height: 90%;
        margin-left: 60px;
        padding-top: 30px;
    }

    .flower-name{
        text-align: center;
    }



   

    /* Hot Deal ! Sale Up To 25% Off */
    .hot-deal-container{
        display: flex;
        justify-content: space-around;
        background: #FCEEF1;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        padding: 100px;
    
    }
    .hot-title{
        margin: 20px;
        font-size:32px;
    }
    .off{
        color: #E55473;
    }
    .hot-lorem{
        color: rgb(129, 118, 118);
    }
    .btn{
        margin: 20px;
    }


/* instagram */
.instagram{
    text-align: center;
    margin-top: 50px;
}

.img-container{
    display: flex;
   margin-left: 120px;
   
}
 .box{
    margin: -70px;
    padding-top: 50px;
 }  



 /* Get The Latest Deals */
 .deals-container{
    background-image: url(/img/Rectangle\ 9.png);
    height: 500px;
    background-repeat: no-repeat;
    margin: 130px 0px 0px;
 }
 .deals{
    text-align: center;
    align-items: center;
    padding-top: 150px;
 }

.deals-title{
    font-size: 32px;
    font-weight: bold;
}
.deals-lorem{
    color: gray;
    margin: 20px;
}
 .input-Subscribe{

 }
 .input{
    align-items: center;
    width: 400px;
    height: 40px;
    border: none;
    margin-left: 450px;
    border-radius: 5px;
 }